<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.268420094860-rfsi1djnsvsolk6cjsc8s8uugbmuorkd</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Timbr needs your location to show you nearby properties and personalize your experience.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Timbr needs your location to show you nearby properties and personalize your experience.</string>
</dict>
</plist>
